<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NFGCrash.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6A28FB7597AB4DC812C67C438FF00D19E49A9BEB</string>
				<key>dateExpires</key>
				<string>19/05/2027</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>12140</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A28FB7597AB4DC812C67C438FF00D19E49A9BEB</string>
						<key>dateExpires</key>
						<string>19/05/2027</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleMobileAds.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T6KK9EW9D6</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>12.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A28FB7597AB4DC812C67C438FF00D19E49A9BEB</string>
						<key>dateExpires</key>
						<string>19/05/2027</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>UserMessagingPlatform.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T6KK9EW9D6</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T6KK9EW9D6.com.nfg.crash</string>
				<key>com.apple.developer.team-identifier</key>
				<string>T6KK9EW9D6</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>NFGCrash.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9c1cdead-ee27-4eae-9128-a12a467ab283</string>
				<key>dateExpires</key>
				<string>26/05/2026</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.nfg.crash</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T6KK9EW9D6</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
